*{
    padding:0;
    margin:0;
}

body{
    background-image:url(images/background-img.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.basic-center{
    display:flex;
    align-items:center;
    justify-content:center;
}

.main-container{
    position:relative;
    display:inline;
}

.main-container img{
    display:block;
    width:100%;
    height:300px;
}

.text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:black;
    padding:10px 20px;
    font-size:20x;
    text-align:center;
    border:solid 3px rgb(82, 31, 31);
}

.video{
    display:inline-block;
    border:solid 5px black;
    border-radius:50px;
    margin:10px,10px,10px,10px;
    padding:10px,10px,10px,10px;
}


/*----------------------------------------------------------------------------------------------------*/

