*{
background-color:red;
}

h1{
font-family:arial;
}

#one{
height:100px; width:auto;
}

#two{
color:rgb(0,0,255);
text-align:center;
font-size:10px;
}

#three{
font-size:60px;
font-family:arial;
text-align:center;
text-decoration:dotted;
}




